#block-medications {
	margin: 0 -15px;
    padding: 0;
	// background: #a1bfdb;
	background: #e2e6f2;
	opacity: 0.95;
	  filter: alpha(opacity=95);
	  
	  	a {
			font-family: "DINPro", sans-serif;
			padding: 60px 0;
			font-size: 16px !important;
			font-weight: bold;
			color: #004e95;
			text-align: center;

			@media (min-width: 420px) {
				font-size: 20px;
			}

		  }

		p {
			font-family: "DINPro", sans-serif;
			padding: 60px 0;
			font-size: 20px;
			color: rgb(90, 90, 90);
			text-align: left;

			@media (min-width: 420px) {
				font-size: 20px;
			}
		}
	
	.img-responsive {
		max-width: 200px !important;
	}

	hr {
		display: block;
		border-width: 1px;
		border-style: inset;
		/* Set the hr color */
		color: rgb(255, 255, 255); /* old IE */
		background-color: rgb(252, 252, 252); /* Modern Browsers */
	}

	@media (min-width: $screen-sm-min) {
		.img-responsive {
			margin: auto;
		}
	}		
}

