#block-welcomeold {

	padding: 0;
	margin: 0 -15px;
	
	#hero {
		height: 70vh;
		overflow: hidden;
		position: relative;	
		margin: 0;
	}

	.layer {
	  background-position: bottom center;
	  background-size: auto;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 100vh;
	  position: fixed;
	  z-index: -1;
	}

	.layer-1 {
		background-image: url(../images/mobile_2018.jpg);
		background-size: cover;
		background-position: top right;

		top: 100px;
		height: calc(100vh - 100px);

		@media (min-device-pixel-ratio: 2) {
			background-image: url(../images/mobile_2018@2x.jpg);
		}

		@media (min-width: 420px) {
			background-image: url(../images/tablet_2018.jpg);
		}

		@media (min-width: 420px) and (min-device-pixel-ratio: 2) {
			background-image: url(../images/tablet_2018@2x.jpg);
		}

		@media (min-width: 768px) {
			background-image: url(../images/desktop_2018.jpg) !important;
		}


	}	

	.slogan {
		width: 100%;
		max-width: 1280px;
		margin: 100px auto;
		padding: 0 15px;
		text-align: left;
		margin-top: 100px !important;

		p {
			font-size: 20px;
			padding-left: 94px;
			text-indent: -94px;				
			color: #eee;
			// color: black;
			font-family: "proxima-nova",sans-serif;

			@media (min-width: 420px) {
				font-size: 22px;
				padding-left: 100px;
				text-indent: -100px;
				color: black;
				text-shadow: 1px 1px #ccc;
			}

			span {
				color: $color1;
				font-weight: 700;

			}
		}
	}

	.brand {
		font-family: "proxima-nova",sans-serif;
		color: white;
		font-size: 30px;
		position: absolute;
		bottom: 90px;
		right: 30px;
		text-shadow: 2px 3px 6px rgba(0,0,0,0.8);

		@media screen and (min-width: 1000px) {
			bottom: 30px;
		}

		em {
			font-weight: 700;
			font-style: italic;
		}
	}

	#welcome {
		position: relative;
		background: #004e95;
		margin: 0;
		padding: 90px 30px;	

		h1, p {
			color: white;
			max-width: 600px;
			margin: auto;
		}

		p {
			font-size: 20px;
		}


		&:before {
			display: block;
			width: 300px;
			content: "scroll down";
			position: absolute;
			left: calc(50% - 150px);
			text-align: center;
			top: 0;
			color: white;
			opacity: 1;
			text-transform: uppercase;
			padding: 10px;
			font-size: 0.8em;
			transition: 1s all;	
			.scrolled & {
				opacity: 0;
			}		
		}

		&:after {
			display: block;
			width: 26px;
			height: 16px;
			content: "";
			position: absolute;
			left: calc(50% - 13px);
			top: 28px;
			opacity: 1;
			text-transform: uppercase;
			padding: 10px;
			font-size: 0.8em;
			transition: 1s all;

			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-image: url(../images/arrow_down.svg);	

	        animation-duration: 2s;
	        animation-iteration-count: infinite;
	        transform-origin: bottom;	

			animation-name: bounce-7;
		    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
		    
		    @keyframes bounce-7 {
		        0%   { transform: scale(1,1)      translateY(0); }
		        10%  { transform: scale(1.1,.9)   translateY(0); }
		        30%  { transform: scale(.9,1.1)   translateY(-20px); }
		        50%  { transform: scale(1.05,.95) translateY(0); }
		        57%  { transform: scale(1,1)      translateY(-7px); }
		        64%  { transform: scale(1,1)      translateY(0); }
		        100% { transform: scale(1,1)      translateY(0); }	        			
			}

			.scrolled & {
				opacity: 0;
			}

		}
	}


}


