#block-additions {
    margin: 0 -15px;
    // padding: 0;	
    position: relative;
    background: #ffffff;

    p {
		font-family: "DINPro", sans-serif;
		padding: 60px 80px;
    font-size: 22px;
    text-align: left;
    }
    
}