<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="/{{ directory }}/">

    <link rel="stylesheet" href="dist/css/site.min.css?v=2">

    <title>PD Empowers</title>
    <script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-98212439-13", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");
    </script>
</head>
<body>
    <img style="display:none;width:1px;" src="https://secure.adnxs.com/px?id=1114921&t=2" width="1" height="1" />
    <img style="display:none;width:1px;" src="https://secure.adnxs.com/seg?add=17951645&t=2" width="1" height="1" />

    <div id="dc_header">
        <div class="header-copy">
            <p><span class="invisible">Exchange</span> worry for <strong>confidence.</strong></p>
            <p><span class="visible">Exchange</span> limits for <strong>freedom.</strong></p>
            <p><span class="invisible">Exchange</span> clinic visits for <strong>jam sessions.</strong></p>
        </div>
    </div>


    <div class="dc_section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-7">
                    <h2>A Growing Population.<br />An Evolving Conversation.</h2>
                    <p>Chronic kidney disease (CKD) has been a growing topic in Washington, DC as we seek solutions to reduce the considerable impact of this condition on everyday lives. In the U.S., more than 30 million people may have CKD, and more than 700,000 face end-stage renal disease (ESRD), or kidney failure.<sup>1</sup></p>
                    <p>With nearly 100,000 patients on a kidney transplant list,<sup>2</sup> transplant is not a guarantee. For many, ESRD management is about their journey with dialysis.</p>
                </div>
                <div class="col-md-5">
                    <img src="dist/img/Graph-1_V3.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="dc_breaker" data-aos="fade-up">
        <div class="container">
            <h3>It's important to keep talking about how we invest in the health of our CKD population – to help ensure their journey and their outcomes are more positive.</h3>
        </div>
    </div>

    <div class="dc_section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h2>Assessing Current<br />Therapy Standards</h2>
                    <p>Mortality rates for dialysis patients are at an all-time low of 16%.<sup>1</sup> But often the treatment that is keeping the patient alive comes at a cost to their overall well-being. </p>
                    <p>In-center hemodialysis remains the most-utilized dialysis modality in the U.S., with 87.3% of ESRD patients starting treatment with this modality.<sup>1</sup> The typical hemodialysis patient spends the equivalent of nearly a month out of every year sitting in a dialysis clinic.<sup>3</sup> </p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img src="dist/img/Graph-2_V4.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="dc_breaker" data-aos="fade-up">
        <div class="container">
            <h3 style="max-width: 800px;">Treatment should go further than keeping patients alive. Let’s continue working together towards enhancing the quality of their lives.</h3>
        </div>
    </div>

    <div class="dc_section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-7">
                    <h2>Helping Patients Exchange<br />Limits for Freedom</h2>
                    <p>Peritoneal dialysis (PD) is an at-home therapy option that gives patients the independence to complete treatment at their own convenience, including while they are asleep. This helps limit disruptions to their daily activities and work. </p>
                    <p>In addition to increased independence, at-home PD has demonstrated improvements in mortality rates and in preserving residual renal function when compared with in-center hemodialysis.<sup>1,5</sup></p>
                </div>
                <div class="col-md-5">
                    <img src="dist/img/Graph-3_V3.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="dc_breaker" data-aos="fade-up">
        <div class="container">
            <h3>At-home peritoneal dialysis remains underutilized in the U.S.</h3>
        </div>
    </div>

    <div class="dc_section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h2>Exchanging Barriers</h2>
                    <p>78% of ESRD patients are candidates for at-home PD based on clinical criteria. However, current utilization in the U.S. is less than 10%.<sup>8-10</sup></p>
                    <p>Contributing factors include:</p>
                    <ul>
                        <li>A need to increase financial incentives for at-home dialysis</li>
                        <li>Physician and nurse training</li>
                        <li>Lack of patient education about therapeutic options</li>
                    </ul>
                    <p>The cost of managing CKD is significant, but offering at-home PD doesn’t mean spending more. The annual per-patient cost of PD is 16% lower than hemodialysis.<sup>1</sup></p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img src="dist/img/Graph-4_V4.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="dc_breaker" data-aos="fade-up">
        <div class="container">
            <h3>Investment in early intervention, education, and patient-centric treatment modalities for CKD may support the health and well-being of this population.</h3>
        </div>
    </div>

    <div class="dc_section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-7">
                    <h2>Baxter Empowers<br />Kidney Health </h2>
                    <p>For more than 30 years, Baxter has led the way in PD, developing safe and effective products in the efforts of providing care for patients with kidney disease.</p>
                    <p>Education is a critical part of treatment adoption, adherence and success. Baxter supports all involved stakeholders with specially developed programs and resources.This includes patient education, through our pdempowers.com platform.</p>
                </div>
                <div class="col-md-5">
                    <img src="dist/img/Graph-5_V2.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="dc_breaker" data-aos="fade-up">
        <div class="container">
            <h3 style="max-width: 500px;">Save a copy of this information, or share it with a colleague.</h3>
            <a href="dist/empowers.pdf" download class="btn">Download the PDF Version</a>
        </div>
    </div>

    <div id="dc_contact" data-aos="fade-up">
        <div class="container">
            <h2 class="text-center">We're Here To Talk</h2>
            <p class="text-center">If you are a policymaker in the Washington, DC area who is interested in continuing the conversation about CKD, contact us today. A Baxter representative will reach out to share more information as to why PD can be a good choice.</p>
            <form method="POST" action="https://www.pages05.net/baxter-usmedproducts/Baxter_Empowers/pcmaker?vs=M2ZjM2RlMWEtNDRmYi00MGJmLThkNzItMzczYjgwNThhYjBlOzsS1">
                <div class="form-group" style="margin-bottom: 20px;">
                    <p><em><small>All fields are required.</small></em></p>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="first_name" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="last_name" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input id="emailAddress" name="Email" type="email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="policymaker"><input id="policymaker" type="checkbox" name="Policy_Maker" required />&nbsp;&nbsp;&nbsp;I am a policymaker in the Washington DC area</label>
                </div>
                <input type="hidden" name="source" id="control_COLUMN1" value="pdempowers">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <input type="hidden" name="formSourceName" value="StandardForm">
                <input type="hidden" name="sp_exp" value="yes">
            </form>

            <div id="references">
                <p>References</p>
                <ol>
                    <li>United States Renal Data System. 2018 USRDS annual data report. Epidemiology of kidney disease in the United States. National Institutes of Health, National Institute of Diabetes and Digestive Kidney Diseases. Bethesda, MD. 2018.</li>
                    <li>U.S. Department of Health and Human Services. Organ Procurement and Transplantation Network Data. https://optn.transplant.hrsa.gov/data/</li>
                    <li>National Kidney Foundation. https://www.kidney.org/atoz/content/dialysisinfo</li>
                    <li>American Kidney Fund Adherence Survey. Barriers to Treatment Adherence for Dialysis Patients. March 2018.</li>
                    <li>Jansen MA, Hart AA, Korevaar JC, et al. Predictors of the rate of decline of residual renal function in incident dialysis patients. Kidney Int. 2002;62(3):1046-1053.</li>
                    <li>North American Pediatric Renal Trials and Collaborative Studies. NAPRTCS 2011 Annual Dialysis Report. Available at: <span style="word-break: break-all">https://web.emmes.com/study/ped/annlrept/annualrept2011.pdf.</span></li>
                    <li>Kutner NG, Zhang R, Huang Y, et al. Depressed mood, usual activity level, and continued employment after starting dialysis. Clin J Am Soc Nephrol. 2010;5(11):2040-2045.</li>
                    <li>Mendelssohn DC, Mujais SK, Soroka SD, et al. A prospective evaluation of renal replacement therapy modality eligibility. Nephrol Dial Transplant. 2009;24(2):555-561.</li>
                    <li>Oliver MJ, Garg AX, Blake PG, et al. Impact of contraindications, barriers to self-care and support on incident peritoneal dialysis utilization. Nephrol Dial Transplant. 2010;25(8):2737-2744.</li>
                    <li>United States Renal Data System. 2017 ADR Chapters. ESRD Chapter 11. Available at: https://www.usrds.org/2017/view/v2_11.aspx. Accessed on August 1, 2018.</li>
                    <li>United States Renal Data System. 2017 ADR Chapters. ESRD Chapter 11, Figure 11.15. Available at: https://www.usrds.org/2017/view/Default.aspx. Accessed on August 1, 2018.</li>
                </ol>
                <p style="margin-top: 30px;">USMP/MG232/17-0003<br />&copy; 2019 Baxter. All rights reserved.</p>
            </div>
        </div>
    </div>

    <script src="dist/js/site.min.js?v=2"></script>
</body>
</html>